:root {
  --navigation-text-color: #212121;
  --contact-us-font: #757575;
  --primary-text-color: #212121;
  --main-title-text-color: #ffffff;
  --accent-color: #2196f3;
}
.all-of-them {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}
/* __________________________________________________ */
/* Шапка */
.logo {
  text-decoration: none;
  color: var(--navigation-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.part-logo {
  color: var(--accent-color);
}
.contact-us .email {
  color: var(--contact-us-font);
  text-decoration: none;
}
.contact-us .email:hover {
  color: var(--accent-color);
}
.contact-us .email:focus {
  color: var(--accent-color);
}
.contact-us .number {
  color: var(--contact-us-font);
  text-decoration: none;
}
.site-nav .link {
  color: var(--navigation-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* ____________________________________________________________ */
/* Основной блок */
.main .main-title {
  background-color: #2F303A;
  color: var(--main-title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main .main-button {
  background: #2196F3;
  color: var(--main-title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  margin-left: 880px;
}
/* _____________________________________________________________________________ */
/* Преимущества */
.preference .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.preference .table-of-contents {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* _______________________________________________________________________ */
/* Чем мы занимаемся */
.projects .all-title {
  font-size: 36px;
  color: #212121;
  text-align: center;
}
.projects .photo-box {
  padding-bottom: 30px;
}
/* __________________________________________________________________________ */
/* Команда */
.team {
  background-color: #F5F4FA;
}
.team .photo-box {
  padding-bottom: 30px;
}
.team .all-title {
  padding-top: 94px;
  font-size: 36px;
  color: #212121;
  text-align: center;
}
.team .table {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.team .worker-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
/* ________________________________________________________________________
Подвал */
.down-part {
  background: #2F303A;
}
.down-part .logo-position {
  margin-left: 215px;
}
.down-part .our-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: 215px;
}
.down-part .our-contact,
 .email, .number {
  color: var(--contact-us-font);
  text-decoration: none;
}
.down-part .email{
  margin-left: 170px;
}
.down-part .number {
  margin-left: 170px;
}